In [106]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

from sklearn.linear_model import LinearRegression

In [107]:
# Importing the datasheet
df=pd.read_csv('/content/Housing (1).csv')
df.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

In [108]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [109]:
x=df.drop('price', axis='columns')
y=df['price']

In [110]:
x.head()

   area  bedrooms  bathrooms  ...  parking prefarea furnishingstatus
0  7420         4          2  ...        2      yes        furnished
1  8960         4          4  ...        3       no        furnished
2  9960         3          2  ...        2      yes   semi-furnished
3  7500         4          2  ...        3      yes        furnished
4  7420         4          1  ...        2       no        furnished

[5 rows x 12 columns]

In [111]:
le_furnishingstatus=LabelEncoder()
le_mainroad=LabelEncoder()
le_guestroom=LabelEncoder()
le_basement=LabelEncoder()
le_hotwaterheating=LabelEncoder()
le_airconditioning=LabelEncoder()
le_prefarea=LabelEncoder()

In [112]:
x['furnishingstatus']=le_furnishingstatus.fit_transform(x['furnishingstatus'])
x['mainroad']=le_mainroad.fit_transform(x['mainroad'])
x['guestroom']=le_guestroom.fit_transform(x['guestroom'])
x['basement']=le_basement.fit_transform(x['basement'])
x['hotwaterheating']=le_hotwaterheating.fit_transform(x['hotwaterheating'])
x['airconditioning']=le_airconditioning.fit_transform(x['airconditioning'])
x['prefarea']=le_prefarea.fit_transform(x['prefarea'])
x.head()

   area  bedrooms  bathrooms  ...  parking  prefarea  furnishingstatus
0  7420         4          2  ...        2         1                 0
1  8960         4          4  ...        3         0                 0
2  9960         3          2  ...        2         1                 1
3  7500         4          2  ...        3         1                 0
4  7420         4          1  ...        2         0                 0

[5 rows x 12 columns]

In [113]:
x['furnishingstatus'].nunique()

3

In [114]:
# Splitting the x and y dataset into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=109)

In [115]:
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [116]:
R_square=model.score(X_train,y_train)
print('Coefficient of error:', R_square)

Coefficient of error: 0.6932662228011346

In [117]:
print('parameter: theta0',model.intercept_)
print('parameter: theta1',model.coef_)

parameter: theta0 118661.5004374627
parameter: theta1 [ 2.47842790e+02  1.29995156e+05  8.74132311e+05  4.87510039e+05
  4.47134337e+05  2.68384414e+05  3.36223787e+05  8.20400138e+05
  9.23793150e+05  3.23666941e+05  6.66318385e+05 -2.45736730e+05]

In [118]:
#using pickle
import pickle

pickle.dump(model,open('Housing_model_save', 'wb'))

In [119]:
#using joblib
import joblib

joblib.dump(model,'Housing_model_save_2')

['Housing_model_save_2']